main_iis/src/main/resources/xsd/characters.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="characters">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="character" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="episodes">
                                <xs:complexType mixed="true">
                                    <xs:sequence>
                                        <xs:element name="episode" maxOccurs="unbounded" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:string" name="episodeNumber"/>
                                                    <xs:element type="xs:string" name="name"/>
                                                    <xs:element type="xs:date" name="showDate"/>
                                                </xs:sequence>
                                                <xs:attribute type="xs:byte" name="id" use="optional"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element type="xs:string" name="gender"/>
                            <xs:element type="xs:string" name="image"/>
                            <xs:element name="location" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="dimension"/>
                                        <xs:element type="xs:string" name="name"/>
                                        <xs:element type="xs:string" name="type" minOccurs="0"/>
                                    </xs:sequence>
                                    <xs:attribute type="xs:byte" name="id" use="optional"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element type="xs:string" name="name"/>
                            <xs:element name="origin" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="dimension"/>
                                        <xs:element type="xs:string" name="name"/>
                                        <xs:element type="xs:string" name="type"/>
                                    </xs:sequence>
                                    <xs:attribute type="xs:byte" name="id" use="optional"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element type="xs:string" name="species"/>
                            <xs:element type="xs:string" name="status"/>
                            <xs:element type="xs:string" name="type" minOccurs="0"/>
                        </xs:sequence>
                        <xs:attribute type="xs:byte" name="id" use="optional"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>